@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
button,
i svg {
  cursor: pointer;
}
.container2 {
  margin: 0 auto;
  width: 95%;
}
@media (min-width: 1400px) {
  .container2 {
    width: 1350px;
    margin: 0 auto;
  }
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 100% !important; /* Kenglikni to'liq boshqarish uchun */
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cards {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "card1 card2 card3"
    "card4  card5 card5";

  gap: 30px;
}
.card {
  position: relative;
}
.card img {
  width: 100%;
}
.card1 {
  grid-area: card1;
}
.card2 {
  grid-area: card2;
}

.card3 {
  grid-area: card3;
}

.card4 {
  grid-area: card4;
}

.card5 {
  grid-area: card5;
}
html {
  scroll-behavior: smooth;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#loca {
  display: none;
}
.menu_bar,
.close {
  display: none;
}
.order {
  display: block;
}
.need {
  animation-name: need;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
@keyframes need {
  0% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1.1);
  }
}

@media (max-width: 1200px) {
  .cards {
    gap: 10px;
  }
}
@media (max-width: 1062px) {
  .header {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100vw;
    height: 100%;
    z-index: 888;
    background-color: #fff;
    transition: 0.5s;
  }
  .menu_bar,
  .close {
    display: flex;
  }
  #check:checked ~ .header {
    left: 0;
  }
  .order {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100vw;
    height: 100%;
    z-index: 888;
    background-color: #fff;
    transition: 0.5s;
  }
  #loca:checked ~ .order {
    right: 0;
  }
}
@media (max-width: 650px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "card1 card1"
      "card2 card3"
      "card4 card4"
      "card5 card5";
    gap: 10px;
    margin: 0 auto;
  }
}
